<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <a class="navbar-brand" routerLink="/">Книга рецептов</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/recipes"
          >Рецепты <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/auth">Войти</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/shopping-list">Список покупок</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" appDropdown>
        <button
          class="btn btn-secondary nav-link dropdown-toggle"
          type="button"
          role="button"
        >
          Управление
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" (click)="onSaveRecipes()">
            Сохранить рецепты
          </button>
          <button class="dropdown-item" (click)="onFetchRecipes()">
            Загрузить рецепты
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>
