<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <a class="navbar-brand" routerLink="/">Книга рецептов</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/recipes" *ngIf="isAuthenticated"
          >Рецепты <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/auth">Авторизация</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/shopping-list">Список покупок</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" appDropdown *ngIf="isAuthenticated">
        <a
          class="nav-link dropdown-toggle"
          role="button"
          style="cursor: pointer"
        >
          Управление
        </a>
        <div class="dropdown-menu">
          <button class="dropdown-item" (click)="onSaveRecipes()">
            Сохранить рецепты
          </button>
          <button class="dropdown-item" (click)="onFetchRecipes()">
            Загрузить рецепты
          </button>
        </div>
      </li>
      <li>
        <a
          style="cursor: pointer"
          class="nav-link"
          *ngIf="isAuthenticated"
          (click)="onLogout()"
        >
          Выйти
        </a>
      </li>
    </ul>
  </div>
</nav>
