<div class="row">
  <div class="col-md-12">
    <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label
        ><input
          class="form-control"
          type="email"
          id="email"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-success mr-2"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? 'Войти' : 'Регистрация' }}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="switchLoginMode()"
        >
          Переключиться на {{ isLoginMode ? 'Регистрацию' : 'Вход' }}
        </button>
      </div>
    </form>
  </div>
</div>
