<div class="row">
  <div class="col-md-12">
    <img class="w-100" [src]="recipe.imagePath" [alt]="recipe.name" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group" role="group" appDropdown>
      <button type="button" class="btn btn-secondary dropdown-toggle">
        Управлять рецептом
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" (click)="onAddToShoppingList()">
          Добавить в список покупок
        </button>
        <a class="dropdown-item" [routerLink]="['edit']"
          >Редактировать рецепт</a
        >
        <a class="dropdown-item" href="#">Удалить рецепт</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        *ngFor="let ingredient of recipe.ingredients"
      >
        {{ ingredient.name }}
        <span class="badge badge-primary badge-pill">{{
          ingredient.amount
        }}</span>
      </li>
    </ul>
  </div>
</div>
