<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Ингредиент</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Ингредиент"
            #nameInput
          />
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Количество</label>
          <input type="number" class="form-control" id="amount" #amountInput />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-success mr-1"
            type="button"
            (click)="onAddIngredient()"
          >
            Добавить
          </button>
          <button class="btn btn-danger mr-1" type="submit">Удалить</button>
          <button class="btn btn-primary" type="button">Очистить</button>
        </div>
      </div>
    </form>
  </div>
</div>
